{% extends "base.html" %}

{% block title %}Страница блога{% endblock %}

{% block content %}
<h1>Добро пожаловать в наш блог! Сегодня представляем блог о городе Канделярия на Тенерифе</h1>
<p>Канделария (исп. Candelaria) — город и муниципалитет на северо-востоке острова Тенерифе
    (Канарские острова, Испания), входит в состав столичной провинции. Город Канделария
    находится в прибрежной зоне Атлантического океана, на высоте 2 метров над его уровнем.
    Расстояние от Южного аэропорта Тенерифе (TFS) — 44 км и Северного (TFN) — 23 км.
    В городе проживает 27148 человек (2017 г.) В основном население Канделарии занимается
    сельским хозяйством, рыбной ловлей, торговлей и обслуживанием туристов. На берегу
    Атлантического океана построено два небольших морских причала, один используется для
    рыболовных судов, второй спортивный. Канделария — это религиозная столица Тенерифе,
    здесь расположена Базилика Канделарии, где хранится священная для всех островитян скульптура
    Черноликой Девы Канделарии. Сегодня ее образ является символом Канарских островов.
    На площади Святой Покровительницы Канарских островов (исп. Plaza de la Patrona de Canarias),
    что возле базилики, можно увидеть величественные бронзовые скульптуры. Это девять королей гуанчей,
    которые управляли девятью областями острова Тенерифе до завоевания испанцами в XV веке.
    Статуи королей (менсеев) в Канделарии Ежегодно 2 февраля и 15 августа, паломники со всего острова
    съезжаются в Канделарию, чтобы помолиться своей святыне. Интересна легенда, рассказывающая о том,
    как место стало святая святых.
</p>
<img src="{{ url_for('static', filename='image/blog_photo1.jpg') }}" class="img-fluid" alt="Фото блога 1" width="600" height="400">
<img src="{{ url_for('static', filename='image/blog_photo2.jpg') }}" class="img-fluid" alt="Фото блога 2" width="600" height="400">
<h1>История и легенды Канделарии</h1>
<p>После раскопок и исследований территорий, в том месте, где сейчас находится муниципалитет Кандалария.
    Ученые пришли к выводу, что приблизительно в 6 веке нашей эры произошло первое заселение её аборигенами.
    Данная область принадлежала королевству Гуимар (El menceyato de Güímar). На момент завоевания Тенерифе,
    управлял долиной Гуимар король Анатерв (mencey Añaterve). Его можно найти среди девяти скульптур на главной
    площади.</p>
{% endblock %}