{% extends "base_1.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Мир путешествий. Сегодня остров Лансароте!</h1>
<h2>Несколько вещей, которые вы не знали о Лансароте</h2>

<p>Лансароте – это одно из мест в Испании, которые ежегодно привлекают большое количество туристов.
    Большинству людей о достопримечательностях острова известны самые основные вещи, но из статьи вы
    узнаете о Лансароте те факты, которые, возможно, даже не могли прийти вам в голову.</P>
<img src="{{ url_for('static', filename='image/Лансароте.jpeg') }}" class="img-fluid" alt="Главное изображение" width="250" height="auto">
<img src="{{ url_for('static', filename='image/Лансароте_1.jpeg') }}" class="img-fluid" alt="Главное изображение" width="250" height="auto">
<p>
    <ul>
        <li>Лансароте – один из самых старых островов Канарского архипелага. Процесс его возникновения
            начался 22 миллиона лет назад в результате геологических процессов, приведших к появлению
            Атлантического океана.</li>
        <li>Свое название Лансароте получил от итальянского купца Ланселотто Малоцелло, который первым
            посетил его в 1312 году. Но изначально остров назывался Титерогакает, что на языке
            аборигенов означало «та, что горит».</li>
        <li>Средняя годовая температура воздуха на Лансароте составляет чуть более 21 градуса Цельсия,
            что делает его одним из самых комфортных мест для проживания в мире. Тем не менее, иногда
            столбик термометра на Лансароте поднимается до 40 градусов и выше, а опускается до 8-9.</li>
        <li>На побережье Лансароте наблюдается редкое атмосферное явление, которое называется «Море
            облаков». Поверхность моря из-за влажных ветров заволакивает туманом, который имеет вид
            облаков, если смотреть на них из самолета.</li>
        <li>На Лансароте находится Национальный парк Тиманфайя, на территории которого расположено
            более 300 потухших вулканов. ЮНЕСКО объявила Тиманфайя Всемирным биосферным заповедником.</li>
    </ul>
</P>
    <img src="{{ url_for('static', filename='image/Лансароте3.jpeg') }}" class="img-fluid" alt="Главное изображение" width="250" height="auto">
    <img src="{{ url_for('static', filename='image/Лансароте4.jpeg') }}" class="img-fluid" alt="Главное изображение" width="250" height="auto">


{% endblock %}